venv
__pycache__
dataset/old*
train_tdeed.py
data/soccernetball/england_efl
data/soccernetball/LEN*
data/soccernetball-big/england_efl
data/soccernetball-big/LEN*
*.log
save/
logs/
wandb/
wandb_logs/
T-Deed-Results/
.vscode/